@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url(http://c15117992.r92.cf2.rackcdn.com/stars.jpg) repeat;
    background-attachment: fixed;
    font-family: "Rosarivo", cursive;
    overflow-x: hidden; min-width: 1000px; width: 100%; 
}

#swirl1 {
	width:450px;
	position:absolute;
	top:0;
	left:0;
}

#swirl2{
	width:450px;
	position:absolute;
	top:0;
	right:0;
}

#swirl3 {
	width:450px;
	position:absolute;
	bottom:0;
	right:0;
    transform: rotate(180deg);
}

#swirl4 {
	width:450px;
	position:absolute;
	bottom: 0px;
	left:0;
    transform: rotate(180deg);
}

#title {
    position: absolute;
    left: 50%; top: 20%;
    transform: translateX(-50%);
    color: white;
    font-style: italic;
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#title p {
    font-size: 3em
}

#smaller {
    font-size: 1.2em !important;
    align-self: flex-end;
}

#wrapper {
    position: absolute;
    left: 50%; top: 320px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.text {
    height: 300px;
    background: url(http://c15117992.r92.cf2.rackcdn.com/lines.png) repeat-y center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    background-image: url(http://c15117992.r92.cf2.rackcdn.com/frame-top.png), url(http://c15117992.r92.cf2.rackcdn.com/frame-bottom.png), url(http://c15117992.r92.cf2.rackcdn.com/frame-rep.png);
    background-position: center top, center bottom, center;
    background-repeat: no-repeat, no-repeat, repeat-y;
    width: 1000px;
    height: 530px;
    position: relative;
}

.frame img,
.frame iframe {
    width: 970px;
    height: 500px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
    border-radius: 5px;
}

.topics {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.a, .b {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: fit-content;
    position: relative;
}

.a {
    align-self: flex-start;
}

.a::before {
    content: "•";
	position: absolute;
	top: -8px;
	right: -26px;
	font-size: 25px;
    color: #BC9D51;
}

.b {
    align-self: flex-end;
}

.b::before {
    content: "•";
	position: absolute;
	top: -8px;
	left: -26px;
	font-size: 25px;
    color: #BC9D51;
}

.title {
    color: #BC9D51;
    font-weight: bolder;
    font-size: .9em;
    font-style: italic;
}

.a .title {
    align-self: flex-end;
}

.a-text {
    font-size: .8em;
    color: #676561;
    max-width: 350px;
}

.a .a-text {
    text-align: right;
}

.b .a-text {
    text-align: left;
}

#muteButton {
    position: fixed;
    bottom: 15px; right: 20px;
    color: white;
    background: none;
    border: none;
}

#muteIcon {
    height: 30px; width: 30px;
}